view,
text,
image {
  box-sizing: border-box;
}

/* 文字 */
.text-main {
  color: #fb7299 !important;
}
.text-main-hover {
  color: #fb85a7;
}
.text-main-disabled {
  color: #fb85a7;
}

/* 背景 */
.bg-main {
  background-color: #fb7299 !important;
}
.bg-main-hover {
  background-color: #fb85a7;
}
.bg-main-disabled {
  background-color: #fb85a7;
}

/* 边框 */
.border-main {
  border-color: #fb7299 !important;
}

/* 行高 */
.line-h {
  line-height: 1.2;
}

/* 分割线 */
.f-divider {
  height: 18rpx;
  background-color: #f5f5f4;
}
